<template>
    <div>
        <b-container>
            <h2>Lista de Articulos</h2>
            <div>
                <b-table striped hover :items = "articulos" :fields = "camposArticulos">
                    <template v-slot:cell(Modificar)="data">
                        <b-button v-on:click="modificarArticulo(data.item)">Modificar</b-button>
                    </template>

                    <template v-slot:cell(Borrar)="data">
                        <b-button v-on:click="borrarArticulo(data.item.id)" variant="danger">Borrar</b-button>
                    </template>
                </b-table>
                <hr>
            </div>
            <!--<div>
                <ul>
                    <li v-for="art in articulos">{{ art.nombre }} | <a href="#" v-on:click="modificarArticulo(art)">Modificar</a> | <a href="#" v-on:click="borrarArticulo(art.id)">Borrar</a></li>
                </ul>   
            </div>-->
            <div class = "col-md-6">
                <h3 v-if="editar == 0">Agregar nuevo articulo</h3>
                <h3 v-if="editar == 1">Editar articulo</h3>
                <b-form>
                    <b-form-group label="Nombre" label-cols-sm="2">
                        <b-form-input type="text" v-model="nuevoArticulo.nombre"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Precio" label-cols-sm="2">
                        <b-form-input type="text" v-model="nuevoArticulo.precio"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Descripcion" label-cols-sm="2">
                        <b-form-input type="text" v-model="nuevoArticulo.descripcion"></b-form-input>
                    </b-form-group>
                    <b-form-group label="fecha" label-cols-sm="2">
                        <b-form-input type="date" v-model="nuevoArticulo.fechaRegistro"></b-form-input>
                    </b-form-group>
                    <b-button v-on:click="crearArticulo" v-if="editar == 0">Guardar</b-button>
                    <b-button v-on:click="guardarModificado" v-if="editar == 1">Guardar Editado</b-button>
                    <b-button v-on:click="recargarPagina" v-if="editar == 1">Cancelar</b-button>
                </b-form>
            </div>
            </b-containner>
    </div>
</template>

<script>
    const axios = require('axios');
    Vue.use(BootstrapVue);
    module.exports = {
        data: function () {
            return {
                articulos: [],
                nuevoArticulo: {},
                camposArticulos: [{key: "id"},
                    {key: "nombre", sorteable: true},
                    {key: "precio", sorteable: true},
                    {key: "proveedor.nombre", label: "Proveedor"},
                    {key: "Modificar", label: ""},
                    {key: "Borrar", label: ""}
                ],
                editar: 0
            };
        },
        methods: {
            cargarArticulos: function () {
                axios.get("/articulos").then(response => {
                    this.articulos = response.data;
                    console.log(this.articulos);
                });
            },
            borrarArticulo(id) {
                axios.delete("/articulos/" + id).then(
                        response => {
                            this.cargarArticulos();
                        }
                ).catch(error => console.log(error));
            },
            modificarArticulo(art) {
                this.editar = 1;
                this.nuevoArticulo = art;
            },
            guardarModificado() {
                this.editar = 0;
                axios.put("/articulos/" + this.nuevoArticulo.id, this.nuevoArticulo).then(
                        response => {
                            this.cargarArticulos();
                            this.nuevoArticulo = {};
                        }
                ).catch(error => console.log(error));
                //this.recargarPagina();
            },
            crearArticulo: function () {
                axios.post("/articulos", this.nuevoArticulo).then(
                        response => {
                            this.cargarArticulos();
                            this.nuevoArticulo = {};
                        }
                ).catch(error => console.log(error));
            },
            recargarPagina: function () {
                location.reload();
            }
        },
        created: function () {
            this.cargarArticulos();
        }
    };
</script>

<style>

</style>
