<template>
    <div>
        <b-container>
            <h2>Lista de Proveedores</h2>
            <div>
                <b-table striped hover :items = "proveedores" :fields = "camposProveedor">
                    <template v-slot:cell(Ver)="data">
                        <b-button v-on:click="cargarProductosProveedor(data.item)" variant="primary">Detalles</b-button>
                    </template>
                         
                    <template v-slot:cell(Modificar)="data">
                        <b-button v-on:click="modificarProveedor(data.item)">Modificar</b-button>
                    </template>
                         
                    <template v-slot:cell(Borrar)="data">
                        <b-button v-on:click="borrarProveedor(data.item.clave)" variant="danger">Borrar</b-button>
                    </template>
                </b-table>
                <hr>
            </div>
            <!--<div>
                <ul>
                    <li v-for="prov in proveedores">{{ prov.nombre }} | <a href="#" v-on:click="cargarProductosProveedor(prov)">Ver productos</a> | <a href="#" v-on:click="modificarProveedor(prov)">Modificar</a> | <a href="#" v-on:click="borrarProveedor(prov.clave)">Borrar</a></li>
                </ul>   
            </div>-->
            <div>
                <hr v-if="verDetalle == 1">
                <h3 v-if="verDetalle == 1">Articulos de {{ nuevoProveedor.nombre }}</h3>
                <ul v-if="verDetalle == 1">
                    <li v-if="verDetalle == 1" v-for="artProv in articulosProveedor"> {{ artProv.nombre }} </li>
                </ul>                
                <b-button v-on:click="cerrarProductosProveedor" v-if="verDetalle == 1">Cerrar Detalle</b-button>
                <hr v-if="verDetalle == 1">
            </div>
            <div class = "col-md-6">
                <h3 v-if="editar == 0 && verDetalle == 0">Agregar nuevo Proveedor</h3>
                <h3 v-if="editar == 1 && verDetalle == 0">Editar Proveedor</h3>
                <b-form  v-if="verDetalle == 0">
                    <b-form-group label="Clave" label-cols-sm="2" v-if="editar == 0">
                        <b-form-input type="text" v-model="nuevoProveedor.clave"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Nombre" label-cols-sm="2">
                        <b-form-input type="text" v-model="nuevoProveedor.nombre"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Email" label-cols-sm="2">
                        <b-form-input type="text" v-model="nuevoProveedor.emailContacto"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Cantidad de Productos" label-cols-sm="2">
                        <b-form-input type="text" v-model="nuevoProveedor.cantidadProductos"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Productos viejos" label-cols-sm="2">
                        <b-form-input type="text" v-model="nuevoProveedor.cantidadProductosViejos"></b-form-input>
                    </b-form-group>
                    
                    <b-button v-on:click="crearProveedor" v-if="editar == 0 && verDetalle == 0">Guardar</b-button>
                    <b-button v-on:click="guardarModificado" v-if="editar == 1 && verDetalle == 0">Guardar Editado</b-button>
                    <b-button v-on:click="recargarPagina" v-if="editar == 1  && verDetalle == 0">Cancelar</b-button>
                </b-form>
            </div>
            </b-containner>
    </div>
</template>

<script>
    const axios = require('axios');
    Vue.use(BootstrapVue);
    module.exports = {
        data: function () {
            return {
                proveedores: [],
                articulosProveedor: [],
                nuevoProveedor: {},
                camposProveedor: [{key: "clave"},
                    {key: "nombre", sorteable: true},
                    {key: "emailContacto"},
                    {key: "cantidadProductos"},
                    {key: "cantidadProductosViejos"},
                    {key: "Ver", label:""},
                    {key: "Modificar", label:""},
                    {key: "Borrar", label:""}
                ],
                editar: 0,
                verDetalle: 0
            };
        },
        methods: {
            cargarProveedores: function () {
                axios.get("/proveedores").then(response => {
                    this.proveedores = response.data;
                    console.log(this.proveedores);
                });
            },
            borrarProveedor(clave) {
                this.verDetalle = 0;
                axios.delete("/proveedores/" + clave).then(
                        response => {
                            this.cargarProveedores();
                        }
                ).catch(error => console.log(error));
                this.nuevoProveedor = {};
            },
            modificarProveedor(prov) {
                this.editar = 1;
                this.verDetalle = 0;
                this.nuevoProveedor = prov;
            },
            guardarModificado() {
                this.editar = 0;
                axios.put("/proveedores/" + this.nuevoProveedor.clave, this.nuevoProveedor).then(
                        response => {
                            this.cargarProveedores();
                            this.nuevoProveedor = {};
                        }
                ).catch(error => console.log(error));
            },
            crearProveedor: function () {
                axios.post("/proveedores", this.nuevoProveedor).then(
                        response => {
                            this.cargarProveedores();
                            this.nuevoProveedor = {};
                        }
                ).catch(error => console.log(error));
            },
            recargarPagina: function () {
                location.reload();
            },
            cerrarProductosProveedor: function(){
                this.verDetalle = 0;
                this.nuevoProveedor = {};
                //location.reload();
            },
            cargarProductosProveedor: function (prov) {
                this.nuevoProveedor = prov;
                this.verDetalle = 1;
                axios.get("/articulos?id_proveedor="+prov.clave).then(response => {
                    this.articulosProveedor = response.data;
                    console.log(this.articulosProveedor);
                });
            }
        },
        created: function () {
            this.cargarProveedores();
        }
    };
</script>

<style>

</style>
