<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
        <!--<script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    </head>
    <body>
        <div id="app-vue">
            {{ mensaje }}
            <br/>
            <span v-bind:title="texto">Otro texto</span>
            <br/>
            <div>
                <input type="text" v-model="valor"/> 
                <button v-on:click="incrementarValor">+</button> 
                <button v-on:click="decrementarValor" v-if="valor > 0"> - </button><br>
                <label> {{ valor }} </label>
            </div>
        </div>
    <script>
        new Vue({
                el: "#app-vue",
                data: {
                    mensaje: "Hola mundo desde vue",
                    texto: "texto para tooltip",
                    valor: 0
                },
                methods: {
                    incrementarValor: function() {
                        this.valor++;
                    },
                    decrementarValor: function() {
                        this.valor--;
                    }
                }
        });
    </script>
    </body>
</html>
